.style-rounded {
	border-radius: 5px;
}

.style-shadow {

	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1)
}

.site-header{
    position: fixed;
    width: 100%;
	z-index: 1000;
	top:0;
	@media screen and (max-width: $break-small) {
		position: relative;
	   }
	.header-logo-menu {
		padding-top: 25px;
		
    	padding-bottom: 20px;
	
		position: relative;
		@media screen and (max-width: $break-normal) {
			padding-top: 10px;
		}
		.site-branding{
			#logo{
				display: flex;
	
				.custom-logo-link{
					float: left;
					width: 100%;
					font-size: 22px;
					font-weight: 600;
					text-shadow: -0.0375em 0 0 #3030301a;
					color: white;
					text-transform: uppercase;
					position: relative;
				
					@media screen and (max-width: $break-normal) {
							font-size: 25px;
					  }
					@media screen and (max-width: $break-small) {
						font-size: 40px;
						padding: 25px 0px;
					   }
					   
				
					img{
						object-fit: contain;
					}
				}
				
			}
		}
		.site-header-menu {
			z-index: 9999;
			width: 100%;
		
			margin-top: 0;
			top:0;
			background-color: white;
			text-align:left;
			display: flex;
			align-items: flex-start;
			margin: 0 auto;
			transition: all 0.3s linear;
			@media screen and (max-width: $break-small) {
				display: block;
			}
		
		
			
			.cas-btn{
				float: right;
				width: 10%;
				background-color: white;
				height: auto;
				color: $primary-color;
				@media screen and (max-width: $break-small) {
					width: auto;
					padding: 5px 15px ;
					font-size: 10px;
				}
				&:hover{
					color: white;
				}
			}
		}
	
	
	
	}
	 &.active{
		 position: fixed;
		 box-shadow: 0 3px 2px -2px #0000001a;
		 background-color: $secondary-color;
	 }


	

}
.menu-navigation{
	.main-navigation {
		height: 100%;
		align-items: center;
		transition: all 0.3s linear;
		display: flex;
		width: 100%;
		float: left;
		text-align: left;
		 
		@media screen and (max-width: $break-small) {
		 //    display: none;
		   }
		ul {
			margin: 0;
			padding: 0;
			width: 100%;
			ul {
				display: block;
				margin: 0;
				min-width: 220px;
				&.sub-menu{
					display: none;
					&.menu-open{
						display: block;
					}
				}
				ul {
					right: 100%;
					top: 0;
					left: inherit;
	 
					&::after {
						content: none;
					}
	 
					ul {
						display: none;
					}
	 
					li {
						&:hover {
							border-bottom: 2px solid $primary-color;
							>ul {
								display: block;
							}
						}
					}
				}
	 
				li {
					&:hover {
						>ul {
							right: 100%;
						}
					}
	 
					&:last-child {
						>a {
							border: none;
						}
					}
				}
	 
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: -5px;
					
					z-index: 9999;
					right: 32px;
					transform: rotate(45deg);
					
					height: 12px;
					width: 12px;
				}
	 
				a {
					// border-bottom: 1px solid #398bb9;
					transition: padding 0.2s ease-in-out 0s;
					color: white;
					position:relative;
					height: auto;
					
					text-align: left;
					font-size: 15px;
					font-weight: normal;
					text-transform: capitalize;
				}
			}
	 
			>li {
				&:hover {
					>ul {
						right: 0;
						z-index: 9999;
						opacity: 1;
					  
					}
				}
			}
	 
			li {
				display: inline-block;
				transition: all 0.3s linear;
				border-bottom: 2px solid transparent;
				transition: all 0.3s linear;
				 
	 
				a {
					color:white;
					display: block;
					font-size: 15px;
					padding: 10px;
					z-index: 99;
					position: relative;
					border-bottom: 1px solid transparent;
					font-weight: 800;
					letter-spacing: 0.5px;
					text-transform: capitalize;
					webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
	 
					@media screen and (max-width: $break-normal) {
						font-size:12px;
						padding:5px 10px;
					}
			 
	 
				}
				&.first-child{
					a{
						padding-left: 0;
					}
				}
				li.menu-item-has-children {
					>a {
						// &::after {
						// 	content: "\f104";
						// 	top: 10px;
						// 	left: 10px;
						// 	margin-right: 10px;
						// 	float: left;
						// 	right: inherit;
						// 	margin-left: 0;
						// }
					}
				}
	 
				li.page_item_has_children {
					>a {
						&::after {
						
						}
					}
				}
			}
	 
			li.menu-item-has-children {
				>a {
					&::after {
					
					}
				}
	 
			}
	 
			li.page_item_has_children {
				>a {
					&::after {
					
					}
	 
					padding-right: 30px;
				}
			}
	 
			li.menu-item-has-childrenv {
				>a {
					padding-right: 30px;
				}
			}
		}
	 
		li {
			
			display: block;
			margin-bottom: 0;
			float: none;
	 
			li {
				float: none;
				display: block;
	 
				>a {
					&:hover {
						&::before {
							display: none;
						}
					}
				}
	 
				&:hover {
					>a {
						&::before {
							display: none;
						}
					}
				}
			}
	 
			>a {
			   
			}
	 
		  
	 
			.sub-menu {
				padding: 0px 40px;
				h4{
					text-transform: uppercase;
					position: relative;
					display: inline-block;
				
				}
				li {
					border-bottom: none;
					a {
						opacity: 1;
						color: $primary-color;
						transition: all 0.3s linear;
						padding:5px 0px;
						text-transform: uppercase;
					}
	 
					&:hover {
						border-bottom: none;
						>a {
							color: $primary-color;
							opacity: 1;
						}
					}
				}
			}
	 
			li.current-menu-item {
				>a {
					&::before {
						display: none;
					}
				}
			}
		}
	 
		li.current-menu-item {
			
			>a {
			  
			}
		}
	 
	   
	 
		.menu-toggle {
			display: none;
		}
	 
		.dropdown-toggle {
			
		}
	 }
	 
	
}
.login-lang-wrap{
	.cas-btn{
		border-radius: 30px;
		width: 40%;
		height: auto;
		padding:0px 15px;
		line-height: 2.5;
		float: left;
		box-shadow: 2px 2px 10px 2px $primary-color;
	}
	.lang-wrap{
		width: 60%;
		float: right;
		padding:0px 10px;
		padding-left: 20px;
		span{
			p{
				margin-bottom: 0;
				select{
					margin-bottom: 0;
					background-color: #ffffff73;
					height: auto;
					color: white;
					option{
						color: black;
					}				
				}
				.bootstrap-select{
					button{
						&.dropdown-toggle{
							background-color: #ffffff9e;
						}
					}
				}
			}
		}
	}
}
// .modal-backdrop.fade {
// 	z-index: 99;
// }

.no-display {
	display: none;
}

// .navigation-menu-holder {

//     padding: 10px 0px;
// }



#breadcrumb-list {
	position: relative;
	z-index: 1;
}

.breadcrumb-wrap{
	text-align: left;
	padding: 10px 10px;
	
	border-top: 1px solid #ddd;
	background-color: white;
	box-shadow: 2px 10px 10px 0px #ddd;
	.breadcrumbs {
		
		ul {
			margin-left: 0px;
		}
	}
}

.breadcrumb-trail{
	&.breadcrumbs{
		ul {
			li {
				display: inline-block;
				color: white;
				font-size: 20px;
		
				a {
					color: $primary-color;
					padding-right: 5px;
					font-weight: bold;
					font-size: 14px;
					&:after {
						content: "/ ";
						padding-left: 5px;
						font-family: fontawesome;
						font-weight: bold;
						color: $primary-color;
					}
				}
			}
		
			.trail-end {
				color: #4a4a4a;
				font-size: 12px;
				font-weight: bold;
			}
		}
	} 
}



// .sub-menu {
// 	position: absolute;
// 	top: 100%;
// 	left: 0%;
// 	padding: 10px 0;
// 	z-index: 1000;
// 	min-width: 200px;
// 	width: auto;
	
// 	padding: 20px;
// 	text-align: left;
// 	list-style: none;
// 	opacity: 0;
// 	visibility: hidden;
// 	background-color: #fff;
// 	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
// 	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
// 	background-clip: padding-box;
// 	display: none;
// 	background-color: white;
// 	-webkit-transition: all 0.1s ease-in-out;
// 	transition: all 0.1s ease-in-out;

// 	&.active {
// 		position: relative;
// 		display: block;
// 		opacity: 1;
// 		visibility: visible;
// 		box-shadow: none;
// 		top: 0;
// 	}
// }




.entry-container {
	padding-top: 15px;
	a {
		display: inline-block;
		color: #4a4a4a;
		padding: 0;
		font-size: 12px;
		font-weight: 500;
	}
}


// .menu-item-has-children:hover .sub-menu {
// 	opacity: 1;
// 	visibility: visible;
// 	display: block;
// }

.menu-item-has-children {
	position: relative;
	.dropdown-toggle {
		width: auto;
		color: black;
		background-color: transparent;
		border: none;
		position:absolute;
		top: 14%;
		right:6px;
		transition: all 0.3s linear;
		border: 0;
		z-index: 99;
		i{
			font-size: 14px;
			transition: all 0.3s linear;
		}
		@media screen and (max-width: $break-normal) {
			top: 0;
		}
	}
	&.submenu-open{
		.dropdown-toggle{
			top:0;
			
			i{
				transform: rotate(180deg);
			}
		}
	}
}

.page-header {
	border-bottom: 0;

}

#mobile-nav-toggle {
    position: fixed;
    right: 0px;
    z-index: 9998;
    top:2%;

    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
	transition: all 0.3s linear;
	&.cross{
		top: 0%;
		box-shadow: none;
	}
}

@media (max-width: 960px){
	#mobile-nav-toggle {
		display: inline-block;
		right: 0;
		
		
	}
	.mobile-nav-active {
		#mobile-nav-toggle {
			left: 50%;
		}
	}
}
@media only screen and (max-width: 767px){
#mobile-nav-toggle { 
	

	width: 100px;
	background-color: white;
    
}
}



#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 9997;
	background: #fff;
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
  
	ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;
  
	  li {
		position: relative;
  
		a {
		  color: #000;
		  font-size: 13px;
		  text-transform: capitalize;
		  overflow: hidden;
		  padding: 10px 22px 10px 15px;
		  position: relative;
		  text-decoration: none;
		  width: 100%;
		  display: block;
		  outline: none;
		  font-weight: 400;
  
		  &:hover {
			color: #fff;
		  }
		}
  
		li {
		  padding-left: 30px;
		}
	  }
  
	  .menu-has-children {
		i {
		  position: absolute;
		  right: 0;
		  z-index: 99;
		  padding: 15px;
		  cursor: pointer;
		  color: #fff;
  
		  &.fa-chevron-up {
			color: #129dbc;
		  }
		}
  
		li a {
		  text-transform: none;
		}
	  }
  
	  .menu-item-active {
		color: #fff;
	  }
	}
  }
  
  #mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: #e8e8e8b3;
	display: none;
  }
  .mobile-nav-active{
	#mobile-nav {
		left: 0;
	  }
  } 

  .login-modal{
	&.fade{
		.modal-dialog{
		  transform: translate(25%,0);
		  border-radius: 15px;
		}
	}
	&.in{
	  .modal-dialog{
		  transform: translate(0,0);
		}
	}
  .modal-dialog{
	  margin: auto;
	  float: right;
	  height: 100%;
	  width: 400px;
	  transform: translate(5%,0);
	  
	  @media screen and (max-width:$break-small) {
		margin: 200px auto;
		width: 80%;
		transform: translate(0,60px);
	}
	  .modal-content{
		  height: 100%;
		 
		  .modal-header{
			  background-color: white;
			  padding: 5px;
			  border-bottom: 0;
			  h4{
				  color: $primary-color;
					
			  }
			  button{
				  &.close{
					  position: absolute;
					  width: 100px;
					  height: 40px;
					  right: 0%;
					  top: 0%;
					  opacity: 1;
						z-index: 10;
					  background-color: white;
						
						color: $primary-color;
						span{
							font-weight: 200;
							font-size: 16px;
						}
				  }
			  }
		  }
		  .modal-body{
			  height: 100%;
			  
			  .user-profile{
				  width: 100%;
				h2{
					color: $primary-color;
					padding-bottom: 10px;
					border-bottom: 1px solid $primary-color;
					
					margin-bottom: 30px;
					font-weight: 500;
				}
				  form{
					  p{
						  margin-bottom: 15px;
						  font-weight: 500;
						  label{
							  sup{
								  color:red;
							  }
						  }
						  input{
							  
							  border-bottom: 1px solid #ddd;
							  &:nth-child(2){
								  margin-bottom: 10px;
							  }
							  &.ecom-btn{
								  color: white;
								  margin-bottom: 0;
								  width: 100%;
								  &:hover{
									  border: 1px solid $primary-color;
									  color: $primary-color;
								  }
								  &.reverse-button{
									  
								  }
							  }
						  }
					  }
					
				  }
				  h3{
					  display: block;
					  font-size: 40px;
					  
					  text-align:center;
					  font-family: $font-secondary;
					  font-weight: 300;
					  margin: 20px 0px;
					  
				  }
				    a{
						  padding: 0px 0px 20px;
						  display: block;
						  color:$primary-color;   
					  }
				  .cas-btn{
					  width: 100%;
					  padding: 10px 0px;
					  font-size: 15px;
					  line-height: 2;
					  margin-bottom: 20px;
					  border-radius: 0;
					  &.reverse-button{
						  box-shadow: 2px 8px 7px 2px #ddd;
						  &:hover{
							color: white;
						}
					  }
				  }
			  }
			
		  }
	  }
  }
 
}