.banner-wrap{
    .banner-image-wrap{
        position: relative;
        height: 80vh;
        .banner-content{
            background-color: #0000008c;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top:0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .banner-title{
                h1{
                    color: white;
                    font-size: 90px;
                    text-shadow:6px 7px 5px  $text-shadow-color;
                    text-transform: uppercase;
                    span{
                        display: block;
                        font-size: 55px;
                        text-transform: capitalize;
                    }
                }
            }
            .cas-btn{
                text-transform: uppercase;
                font-style: italic;
                font-weight: 100;
            }
        }
    }
}
.home-wrap{
    background-color: #0c122c;
}
.game-cat-list-wrap{
    
    width: 80%;
    margin: 0 auto;
    margin-top: -75px;
    position: relative;
    .button-group{
        display: flex;
        width:100% ;
        margin: 0 auto;
        button{
            width: 14%;
            padding: 5px;
            height: auto;
            background-color: transparent;
            border: none;
            .list-btn-content{
                padding: 20px;
                text-align:center;
                border-radius: 15px;
                transition: all 0.3s linear;
                background-color: #292c4d;
                display: flex;
                flex-direction: column;
                box-shadow: 2px 4px 20px 0px $secondary-color;
                    .item-image-holder{
                        width: 40%;
                        padding-bottom: 40%;
                        margin: 10px auto;
                        &.icon-hover{
                            display: none;
                        }
                    }
                    span{
                        color: white;
                        text-transform: capitalize;
                    }
               &:hover{
                   background-color: $primary-color;
                   box-shadow: 2px 4px 20px 0px $primary-color;
                   .icon-holder{
                        display: none;
                    }
                    .icon-hover{
                        display: block;
                    }
                    span{
                        color: white;
                    }
               }
               
            }
            &.is-checked{
                .list-btn-content{
                    background-color: $primary-color;
                    box-shadow: 2px 4px 20px 0px $primary-color;
                .icon-holder{
                    display: none;
                }
                .icon-hover{
                    display: block;
                }
                span{
                    color: white;
                }
            }
                
           }
            &:last-child{
                flex-direction: column;
                width: 19%;
                .list-btn-content{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                   width: 100%;
                }
            }
        }
    }
  
}
.game-list-wrap{
    padding: 40px 0px;
    .game-single{
        border-radius: 15px;
        
        position: relative;
        float: left;
        padding: 15px;
         width: 33%;
        .item-image-holder{
            padding-bottom: 70%;
            margin-bottom: 0;
            border-radius: 10px;
        }
    }
}

.sign-up-section{
    
    .signin-whole-wrap{
        position: relative;
        display: flex;
       
        .sign-in-image{
            position: relative;
           
            .item-image-holder{
                padding-bottom: 60%;
                img{
                    object-position: 50% 30%;
                } 
            }
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                background-image:linear-gradient(-90deg, #0c122c, #0c122cc7);
            }
        }
        .signin-wrap{
            position: absolute;
            top:0;
            left: 0;
            text-align: center;
            width: 100%;
            z-index: 99;
            height: 100%;
            display: flex;
            align-items: center;
                .signin-content-wrap{
                    width: 100%;
                    color: white;
                    span{
                        color: #f8d361;
                        font-size: 35px;
                        font-weight: 500;
                        font-style: italic;
                        text-transform: uppercase;
                        text-shadow: 0px 3px 0px #f8d361, 0px 14px 10px #00000026, 0px 24px 2px #0000001a, 0px 34px 30px #0000001a;
                        font-family: $font-secondary;
                        margin-bottom: 20px;
                    }
                    h1{
                        color: white;
                        text-transform: uppercase;
                        font-style: italic;
                        font-size: 55px;
                        text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px #00000026, 0px 24px 2px #0000001a, 0px 34px 30px #0000001a;
                        font-family: $font-secondary;
                        margin: 20px 0px;
                        span{
                            display: block;
                            color: white;
                            text-transform: uppercase;
                            font-size: 55px;
                            font-weight: inherit;
                            text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px #00000026, 0px 24px 2px #0000001a, 0px 34px 30px #0000001a;

                        }
                    }
                    p{
                        font-size: 18px;
                        opacity: 0.8;
                        font-family: $font-secondary;
                        width: 30%;
                        margin: 0 auto 20px;
                        line-height: 1.8;
                        font-style: italic;
                    }
                    .cas-btn{
                        margin: 0 auto;
                        background-color: #5785f5;
                        background-image: url(../images/icons/chevron.png);
                        background-position: 95% 45%;
                        background-repeat: no-repeat;
                        border-color: #5785f5;
                        background-size: 8%;
                        height: 60px;
                        text-transform: uppercase;
                        font-style: italic;
                        line-height: 4;
                        font-size: 14px;
                        width: 200px;
                        &:after{
                            display: none;
                        }
                        &:hover{
                            background-color: white;
                            color: #5785f5;
                            background-image: url(../images/icons/chevron-hover.png);
                            background-position: 92% 45%;
                        }
                    }
                }          
        }
     
    }
    
}
footer{
    background-color: #111835;
    .main-footer{
        .footer-widgets{
            .footer-menu-desc{
                .footer-title{
                    h3{
                        color:#bc855e ;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                ul{
                    margin-left: 0;
                    li{
                        line-height: 2;
                        a{
                            letter-spacing: 1.2px;
                            transition:all 0.3s linear;
                            font-size: 14px;
                            &:hover{
                                opacity: 0.5;
                                color: white;
                            }
                        }
                    }
                }
            }
            .social-icons{
             
                ul{
                    margin-bottom: 15px;
                    margin-left:0;
                    li{
                        padding-right: 0;
                        display: inline-block;
                        margin-right: 10px;
                        a{
                            color: white;
                            border-radius: 50%;
                            display: inline-block;
                            margin: 5px;
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            &.facebook-icon{
                                background-color: $facebook-color;

                            }
                            &.twitter-icon{
                                background-color: $twitter-color;
                            }
                            &.youtube-icon{
                                background-color: $youtube-color;
                            }
                            &.instagram-icon{
                                background: $instagram-color;
                            }
                        }
                    }
                }
                @media screen and (max-width:$break-small) {
                    width: 100%;
                 }
            }
            .footer-links{
                margin-bottom: 15px;
                a{
                    background-color:#ffffff73 ;
                    padding:10px 15px;
                    margin: 0px 10px;
                    transition: all 0.3s linear;
                    display: inline-block;
                    &:hover{
                        background-color: $primary-color;
                        color:white;
                    }
                }
            }
            .lang-select{
                .lang-select-wrap{
                    width: 48%;
                    padding: 0px 5px;
                    display: inline-block;
                    color: white;
                    p{
                        margin-bottom: 0;
                        select{
                            margin-bottom: 0;
                            background-color: #ffffff73;
                            height: auto;
                            color: white;
                            option{
                                color: black;
                            }
                        }
                        .bootstrap-select{
                            button{
                                &.dropdown-toggle{
                                    background-color: #ffffff9e;
                                }
                            }
                        }
                    }
                }
                .support{
                    color: white;
                }
            }
        }
    }
    .copyright{
        background-color: #0c122c;
        text-align: center;
        padding: 20px 0px;
        color: white;
        p{
            margin-bottom: 0;
            color: white;
        }
    }
}