$primary-color:#cf1f29;

$secondary-color:#292c4d;
$button-color: #6001d1;

$text-shadow-color: #4a0b84;
$title-color:#0e263e;
$font-primary:  'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;
$twitter-color:#00acee;
$facebook-color:#4267B2;
$instagram-color:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$youtube-color:#FF0000;
$google-color:#db4a39;

$break-small:767px;
$break-medium: 990px;
$break-normal:1499px;
.white-text {
    color: #fff;
}

// .footer--dark {
//     background-color: $footer-color;
// }


// @mixin inputwithbutton {
//     form {
//         position: relative;

//         span {
//             input[type=text] {
//                 width: 100%;
//                 display: inline-block;
//                 margin-bottom: 0;
//                 border-radius: 35px;
//                 position: relative;
//             }

//             input[type=submit] {
//                 top: 0;
//                 float: right;
//                 margin-bottom: 0;
//                 position: absolute;
//                 right: 0;
//                 width: 30%;
//             }
//         }
//     }

// }




// @mixin title-footer {
//     .footer-title {
//         position: relative;

//         h3 {
//             display: inline-block;
//             position: relative;

//             &:after {
//                 content: "";
//                 position: absolute;
//                 width: 60px;
//                 height: 4px;
//                 right: 0;
//                 bottom: -20%;
//                 background-color: $secondary-color;
//             }
//         }
//     }
// }

// @mixin icons {
//     width: 20%;
//     padding-bottom: 20%;
//     margin: 0 auto;
// }

// @mixin responsivescroll {
//     max-width: 100%;
//     display: inline-flex;
//     vertical-align: top;
//     overflow-x: scroll;
// }

@mixin responsivescroll {
    @media screen and (max-width: $break-small) {
    max-width: 100%;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
    }
}
@mixin title{
    .section-content{
        @media screen and (max-width: $break-small) {
            padding: 0px 5px;
            margin-bottom: 20px;
        }
        .section-title{
            position: relative;
            z-index: 9;
               margin-bottom: 10px;
            h3{
                margin-bottom: 0;
                color: #000;
               text-transform: uppercase;
                font-size: 22px;
                font-weight: 500;
                display: inline-block;
                
                width: auto;
                position: relative;
                            
                @media screen and (max-width: $break-small) {
                    font-size: 24px;
                }
             
             
            }
               h2{
                    margin-bottom: 0;
                    color: #000;
                   text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 500;
                    display: inline-block;
                    
                    width: auto;
                    position: relative;
                }
            a{
                color: #000;
                float: right;
                font-size: 12px;
                border-bottom: 2px solid $primary-color;
            }
        }
      
        &.title-reversed{
            .section-title{
                h3{
                    color:white;
                    @media screen and (max-width: $break-small) {
                        font-size: 24px;
                    }
                 
                }
                span{
                    font-size: 14px;
                    color:#f5f5f5;
                }
            }
          p{
              color: white;
          }
        }
        
    }
   
}

@mixin item {
    .product-single{
        box-shadow: 2px 2px 10px 2px #ddd;
        margin: 0px 10px 20px;
        background-color: white;
        padding: 15px;
        position: relative;
        border-radius: 10px;

        .item-image-holder{
            padding-bottom: 60%;
            width: 70%;
            margin: 0 auto;
         
        }
        .discount-wrap{
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 5px;
            color: white;
            background-color: $discount-color;
            
        }
        .item-content{
         
            h4{
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 5px;
                font-weight: 400;
            }
            p{
                font-style: italic;
                font-size: 12px;
            }
            .price-buy-wrap{
                display: flex;
                .price-wrap{
                    width: 60%;
                    h5{
                        color: $title-color;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                    span{
                        position: relative;
                        
                        display:inline-block;
                        &:after{
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: $discount-color;
                            left: 0;
                            top: 50%;
                            position: absolute;
                        }
                    }
                }
                .ecom-btn{
                    width: 40%;
                    padding: 5px;
                    height: 40px;
                    border-radius: 0;
                    line-height: 2;
                }
            } 
        }
    }
}
// @mixin page-banner {
//     background-size: cover;
//     align-items: flex-end;
//     .inner-title{
//         position: relative;
//         h2{
//             color: white;
//             font-size: 60px;
//             font-weight: 200;
//         }
//     }
// }