.white-text {
  color: #fff;
}

html {
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 60px 0px 40px;
}

footer {
  padding: 30px 0px 0px;
}

.page-content {
  padding: 30px 0px 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  width: 16px;
  height: 15px;
  vertical-align: middle;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  /*border: 1px solid #c0c0c0;*/
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.my-10 {
  margin: 10px 0px;
}

.item-lg {
  display: block;
}

@media screen and (max-width: 767px) {
  .item-lg {
    display: none;
  }
}

.item-sm {
  display: none;
}

@media screen and (max-width: 767px) {
  .item-sm {
    display: inline-block;
    width: 100%;
  }
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

tr {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

table caption {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

table th a {
  color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: #666;
  font-size: 14px;
  height: 46px;
  border: 1px solid #E3E4E8;
  background-color: #fff;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  line-height: 1.6;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 15px 0;
  font-family: "Roboto", sans-serif;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding: 30px 5px 5px 0px;
}

blockquote p {
  margin: 0 0 1em;
  font-style: italic;
}

blockquote, q {
  quotes: "" "";
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f7f7f7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  word-wrap: break-word;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul,
ol {
  margin: 0 0 0.5em 1em;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: 100%;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
  width: 100%;
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #e5e5e5;
}

td,
th {
  padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/
/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/
a.button {
  min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
  color: #666;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
  color: #111;
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
  padding: 10px 0 10px 15px;
}

input[type="search"] {
  padding: 12px 0px 8px 15px;
}

select {
  width: 100%;
  padding: 5px;
}

textarea {
  padding: 10px;
  width: 100%;
}

.form-submit input#submit {
  margin: 20px 0 10px 0;
}

.form-submit {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

/*input[type="submit"] {*/
/*width: 100%;*/
/*}*/
/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/
a {
  color: #000;
  outline: none;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #cf1f29;
  text-decoration: none;
  outline: inherit;
}

a:active {
  outline: 0;
  color: #cf1f29;
  text-decoration: none;
  outline: 0;
}

a:focus {
  color: #cf1f29;
  text-decoration: none;
  outline: inherit;
}

a.more-link {
  margin-top: 10px;
  display: inline-block;
  padding: 7px 13px;
  background: #08c299;
  color: #fff;
  position: relative;
  z-index: 0;
  font-size: 16px;
  font-weight: 500;
}

a.more-link:hover {
  background: #000;
}

/*----reset---*/
.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  clear: both;
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
  clear: both;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  content: "";
  clear: both;
}

.section-content {
  padding: 0px 15px;
}

p {
  font-family: "Roboto", sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-apdpearance: none;
}

input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

input[type="date"]:focus {
  color: white;
  background-color: transparent;
}

input[type="date"]:hover {
  color: white;
  background-color: transparent;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

/*image*/
.item-image-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.item-image-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bg-light {
  background: #f3f3f3 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: block;
  }
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.site-header,
.header-content {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: transparent;
}

.fixed {
  position: fixed;
}

.cas-btn {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
  /* padding-right: 56px; */
  border-color: #cf1f29;
  border-style: solid;
  background-color: #cf1f29;
  border-width: 2px;
  margin: 0px;
  border-radius: 5px;
  padding: 0px 25px;
  color: white;
  text-decoration: none;
  white-space: normal;
  width: 176px;
  height: 50px;
  min-height: 0px;
  min-width: 0px;
  line-height: 3;
  font-weight: 500;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  max-height: none;
  max-width: none;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
}

.cas-btn::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -200px;
  background-color: #cf1f29;
  width: 100%;
  z-index: -1;
  height: 100%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.cas-btn:hover {
  background-color: white;
  color: white;
  font-weight: 700;
  border: 1px solid #cf1f29;
}

.cas-btn:hover::after {
  top: 0;
}

.cas-btn.reverse-button {
  color: #cf1f29;
  background-color: white;
  border: 1px solid #cf1f29;
}

.cas-btn.reverse-button:hover {
  background-color: #6e94c9;
  color: white;
  border: 1px solid #cf1f29;
}

@media screen and (max-width: 767px) {
  .cas-btn {
    height: 40px;
  }
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #cf1f29;
  opacity: 0.5;
}

.no-padding {
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  .mb-scroll-container {
    min-width: 380px;
    display: inline-block;
    vertical-align: top;
  }
}

.megamenu-background {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-results__options {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.select2-container--default .select2-results__options::-webkit-scrollbar {
  width: 5px;
}

.select2-container--default .select2-results__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.select2-container--default .select2-results__options::-webkit-scrollbar-thumb {
  background: #cf1f29;
}

.select2-container--default .select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #cf1f29;
}

.select2-container--default .select2-results__options .select2-results__option--highlighted[aria-selected] {
  background-color: #cf1f29;
  color: white;
  border-radius: 10px;
}

.select2-container--default .select2-results__options .select2-dropdown--below {
  width: 300px !important;
  border-radius: 10px;
  border: none;
  top: 0px;
}

@media screen and (max-width: 767px) {
  .select2-container--default .select2-results__options .select2-dropdown--below {
    width: auto !important;
  }
}

.affix {
  position: fixed !important;
  top: 200px;
  width: 18%;
}

@media screen and (max-width: 1499px) {
  .affix {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .affix {
    position: relative !important;
    top: auto !important;
    width: 100%;
  }
}

.affix-bottom {
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .affix-bottom {
    position: relative !important;
    top: auto !important;
  }
}

.product-slider button.slick-arrow {
  top: 50%;
  z-index: 99;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
  background-color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.8;
  border-radius: 50%;
}

.product-slider button.slick-arrow.slick-next {
  right: -1%;
}

.product-slider button.slick-arrow.slick-next:before {
  content: url(../images/icons/arrow-r.png);
}

.product-slider button.slick-arrow.slick-prev {
  left: -1%;
}

.product-slider button.slick-arrow.slick-prev:before {
  content: url(../images/icons/arrow-l.png);
}

@media screen and (max-width: 767px) {
  .product-slider button.slick-arrow.slick-prev {
    right: 25%;
  }
}

.product-slider button.slick-arrow:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #111;
}

.product-slider button.slick-arrow:hover.slick-next:before {
  content: url(../images/icons/arrow-r-hover.png);
}

.product-slider button.slick-arrow:hover.slick-prev:before {
  content: url(../images/icons/arrow-l-hover.png);
}

.product-slider.brand-slider button.slick-arrow {
  top: 50%;
  z-index: 999;
  width: 40px;
  height: 40px;
}

.product-slider:hover button.slick-arrow {
  opacity: 1;
}

.adv-holder-short .item-image-holder {
  padding-bottom: 20%;
}

.adv-holder-lg .item-image-holder {
  padding-bottom: 45%;
}

.adv-holder-top-lg a .item-image-holder {
  padding-bottom: 20%;
}

.page-wrap {
  position: relative;
}

.style-rounded {
  border-radius: 5px;
}

.style-shadow {
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.site-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

@media screen and (max-width: 767px) {
  .site-header {
    position: relative;
  }
}

.site-header .header-logo-menu {
  padding-top: 25px;
  padding-bottom: 20px;
  position: relative;
}

@media screen and (max-width: 1499px) {
  .site-header .header-logo-menu {
    padding-top: 10px;
  }
}

.site-header .header-logo-menu .site-branding #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header .header-logo-menu .site-branding #logo .custom-logo-link {
  float: left;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-shadow: -0.0375em 0 0 #3030301a;
  color: white;
  text-transform: uppercase;
  position: relative;
}

@media screen and (max-width: 1499px) {
  .site-header .header-logo-menu .site-branding #logo .custom-logo-link {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .site-header .header-logo-menu .site-branding #logo .custom-logo-link {
    font-size: 40px;
    padding: 25px 0px;
  }
}

.site-header .header-logo-menu .site-branding #logo .custom-logo-link img {
  -o-object-fit: contain;
     object-fit: contain;
}

.site-header .header-logo-menu .site-header-menu {
  z-index: 9999;
  width: 100%;
  margin-top: 0;
  top: 0;
  background-color: white;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 767px) {
  .site-header .header-logo-menu .site-header-menu {
    display: block;
  }
}

.site-header .header-logo-menu .site-header-menu .cas-btn {
  float: right;
  width: 10%;
  background-color: white;
  height: auto;
  color: #cf1f29;
}

@media screen and (max-width: 767px) {
  .site-header .header-logo-menu .site-header-menu .cas-btn {
    width: auto;
    padding: 5px 15px;
    font-size: 10px;
  }
}

.site-header .header-logo-menu .site-header-menu .cas-btn:hover {
  color: white;
}

.site-header.active {
  position: fixed;
  -webkit-box-shadow: 0 3px 2px -2px #0000001a;
          box-shadow: 0 3px 2px -2px #0000001a;
  background-color: #292c4d;
}

.menu-navigation .main-navigation {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: left;
  text-align: left;
}

.menu-navigation .main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-navigation .main-navigation ul ul {
  display: block;
  margin: 0;
  min-width: 220px;
}

.menu-navigation .main-navigation ul ul.sub-menu {
  display: none;
}

.menu-navigation .main-navigation ul ul.sub-menu.menu-open {
  display: block;
}

.menu-navigation .main-navigation ul ul ul {
  right: 100%;
  top: 0;
  left: inherit;
}

.menu-navigation .main-navigation ul ul ul::after {
  content: none;
}

.menu-navigation .main-navigation ul ul ul ul {
  display: none;
}

.menu-navigation .main-navigation ul ul ul li:hover {
  border-bottom: 2px solid #cf1f29;
}

.menu-navigation .main-navigation ul ul ul li:hover > ul {
  display: block;
}

.menu-navigation .main-navigation ul ul li:hover > ul {
  right: 100%;
}

.menu-navigation .main-navigation ul ul li:last-child > a {
  border: none;
}

.menu-navigation .main-navigation ul ul::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  z-index: 9999;
  right: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 12px;
  width: 12px;
}

.menu-navigation .main-navigation ul ul a {
  -webkit-transition: padding 0.2s ease-in-out 0s;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  position: relative;
  height: auto;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
}

.menu-navigation .main-navigation ul > li:hover > ul {
  right: 0;
  z-index: 9999;
  opacity: 1;
}

.menu-navigation .main-navigation ul li {
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-bottom: 2px solid transparent;
  transition: all 0.3s linear;
}

.menu-navigation .main-navigation ul li a {
  color: white;
  display: block;
  font-size: 15px;
  padding: 10px;
  z-index: 99;
  position: relative;
  border-bottom: 1px solid transparent;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1499px) {
  .menu-navigation .main-navigation ul li a {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.menu-navigation .main-navigation ul li.first-child a {
  padding-left: 0;
}

.menu-navigation .main-navigation ul li.page_item_has_children > a {
  padding-right: 30px;
}

.menu-navigation .main-navigation ul li.menu-item-has-childrenv > a {
  padding-right: 30px;
}

.menu-navigation .main-navigation li {
  display: block;
  margin-bottom: 0;
  float: none;
}

.menu-navigation .main-navigation li li {
  float: none;
  display: block;
}

.menu-navigation .main-navigation li li > a:hover::before {
  display: none;
}

.menu-navigation .main-navigation li li:hover > a::before {
  display: none;
}

.menu-navigation .main-navigation li .sub-menu {
  padding: 0px 40px;
}

.menu-navigation .main-navigation li .sub-menu h4 {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.menu-navigation .main-navigation li .sub-menu li {
  border-bottom: none;
}

.menu-navigation .main-navigation li .sub-menu li a {
  opacity: 1;
  color: #cf1f29;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 5px 0px;
  text-transform: uppercase;
}

.menu-navigation .main-navigation li .sub-menu li:hover {
  border-bottom: none;
}

.menu-navigation .main-navigation li .sub-menu li:hover > a {
  color: #cf1f29;
  opacity: 1;
}

.menu-navigation .main-navigation li li.current-menu-item > a::before {
  display: none;
}

.menu-navigation .main-navigation .menu-toggle {
  display: none;
}

.login-lang-wrap .cas-btn {
  border-radius: 30px;
  width: 40%;
  height: auto;
  padding: 0px 15px;
  line-height: 2.5;
  float: left;
  -webkit-box-shadow: 2px 2px 10px 2px #cf1f29;
          box-shadow: 2px 2px 10px 2px #cf1f29;
}

.login-lang-wrap .lang-wrap {
  width: 60%;
  float: right;
  padding: 0px 10px;
  padding-left: 20px;
}

.login-lang-wrap .lang-wrap span p {
  margin-bottom: 0;
}

.login-lang-wrap .lang-wrap span p select {
  margin-bottom: 0;
  background-color: #ffffff73;
  height: auto;
  color: white;
}

.login-lang-wrap .lang-wrap span p select option {
  color: black;
}

.login-lang-wrap .lang-wrap span p .bootstrap-select button.dropdown-toggle {
  background-color: #ffffff9e;
}

.no-display {
  display: none;
}

#breadcrumb-list {
  position: relative;
  z-index: 1;
}

.breadcrumb-wrap {
  text-align: left;
  padding: 10px 10px;
  border-top: 1px solid #ddd;
  background-color: white;
  -webkit-box-shadow: 2px 10px 10px 0px #ddd;
          box-shadow: 2px 10px 10px 0px #ddd;
}

.breadcrumb-wrap .breadcrumbs ul {
  margin-left: 0px;
}

.breadcrumb-trail.breadcrumbs ul li {
  display: inline-block;
  color: white;
  font-size: 20px;
}

.breadcrumb-trail.breadcrumbs ul li a {
  color: #cf1f29;
  padding-right: 5px;
  font-weight: bold;
  font-size: 14px;
}

.breadcrumb-trail.breadcrumbs ul li a:after {
  content: "/ ";
  padding-left: 5px;
  font-family: fontawesome;
  font-weight: bold;
  color: #cf1f29;
}

.breadcrumb-trail.breadcrumbs ul .trail-end {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: bold;
}

.entry-container {
  padding-top: 15px;
}

.entry-container a {
  display: inline-block;
  color: #4a4a4a;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children .dropdown-toggle {
  width: auto;
  color: black;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 14%;
  right: 6px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 0;
  z-index: 99;
}

.menu-item-has-children .dropdown-toggle i {
  font-size: 14px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 1499px) {
  .menu-item-has-children .dropdown-toggle {
    top: 0;
  }
}

.menu-item-has-children.submenu-open .dropdown-toggle {
  top: 0;
}

.menu-item-has-children.submenu-open .dropdown-toggle i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-header {
  border-bottom: 0;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0px;
  z-index: 9998;
  top: 2%;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#mobile-nav-toggle.cross {
  top: 0%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline-block;
    right: 0;
  }
  .mobile-nav-active #mobile-nav-toggle {
    left: 50%;
  }
}

@media only screen and (max-width: 767px) {
  #mobile-nav-toggle {
    width: 100px;
    background-color: white;
  }
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 9997;
  background: #fff;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #000;
  font-size: 13px;
  text-transform: capitalize;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #129dbc;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: #e8e8e8b3;
  display: none;
}

.mobile-nav-active #mobile-nav {
  left: 0;
}

.login-modal.fade .modal-dialog {
  -webkit-transform: translate(25%, 0);
          transform: translate(25%, 0);
  border-radius: 15px;
}

.login-modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.login-modal .modal-dialog {
  margin: auto;
  float: right;
  height: 100%;
  width: 400px;
  -webkit-transform: translate(5%, 0);
          transform: translate(5%, 0);
}

@media screen and (max-width: 767px) {
  .login-modal .modal-dialog {
    margin: 200px auto;
    width: 80%;
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }
}

.login-modal .modal-dialog .modal-content {
  height: 100%;
}

.login-modal .modal-dialog .modal-content .modal-header {
  background-color: white;
  padding: 5px;
  border-bottom: 0;
}

.login-modal .modal-dialog .modal-content .modal-header h4 {
  color: #cf1f29;
}

.login-modal .modal-dialog .modal-content .modal-header button.close {
  position: absolute;
  width: 100px;
  height: 40px;
  right: 0%;
  top: 0%;
  opacity: 1;
  z-index: 10;
  background-color: white;
  color: #cf1f29;
}

.login-modal .modal-dialog .modal-content .modal-header button.close span {
  font-weight: 200;
  font-size: 16px;
}

.login-modal .modal-dialog .modal-content .modal-body {
  height: 100%;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile {
  width: 100%;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile h2 {
  color: #cf1f29;
  padding-bottom: 10px;
  border-bottom: 1px solid #cf1f29;
  margin-bottom: 30px;
  font-weight: 500;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p {
  margin-bottom: 15px;
  font-weight: 500;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p label sup {
  color: red;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input {
  border-bottom: 1px solid #ddd;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input:nth-child(2) {
  margin-bottom: 10px;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input.ecom-btn {
  color: white;
  margin-bottom: 0;
  width: 100%;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile form p input.ecom-btn:hover {
  border: 1px solid #cf1f29;
  color: #cf1f29;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile h3 {
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin: 20px 0px;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile a {
  padding: 0px 0px 20px;
  display: block;
  color: #cf1f29;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile .cas-btn {
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 20px;
  border-radius: 0;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile .cas-btn.reverse-button {
  -webkit-box-shadow: 2px 8px 7px 2px #ddd;
          box-shadow: 2px 8px 7px 2px #ddd;
}

.login-modal .modal-dialog .modal-content .modal-body .user-profile .cas-btn.reverse-button:hover {
  color: white;
}

.banner-wrap .banner-image-wrap {
  position: relative;
  height: 80vh;
}

.banner-wrap .banner-image-wrap .banner-content {
  background-color: #0000008c;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-wrap .banner-image-wrap .banner-content .banner-title h1 {
  color: white;
  font-size: 90px;
  text-shadow: 6px 7px 5px #4a0b84;
  text-transform: uppercase;
}

.banner-wrap .banner-image-wrap .banner-content .banner-title h1 span {
  display: block;
  font-size: 55px;
  text-transform: capitalize;
}

.banner-wrap .banner-image-wrap .banner-content .cas-btn {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 100;
}

.home-wrap {
  background-color: #0c122c;
}

.game-cat-list-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: -75px;
  position: relative;
}

.game-cat-list-wrap .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.game-cat-list-wrap .button-group button {
  width: 14%;
  padding: 5px;
  height: auto;
  background-color: transparent;
  border: none;
}

.game-cat-list-wrap .button-group button .list-btn-content {
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #292c4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 4px 20px 0px #292c4d;
          box-shadow: 2px 4px 20px 0px #292c4d;
}

.game-cat-list-wrap .button-group button .list-btn-content .item-image-holder {
  width: 40%;
  padding-bottom: 40%;
  margin: 10px auto;
}

.game-cat-list-wrap .button-group button .list-btn-content .item-image-holder.icon-hover {
  display: none;
}

.game-cat-list-wrap .button-group button .list-btn-content span {
  color: white;
  text-transform: capitalize;
}

.game-cat-list-wrap .button-group button .list-btn-content:hover {
  background-color: #cf1f29;
  -webkit-box-shadow: 2px 4px 20px 0px #cf1f29;
          box-shadow: 2px 4px 20px 0px #cf1f29;
}

.game-cat-list-wrap .button-group button .list-btn-content:hover .icon-holder {
  display: none;
}

.game-cat-list-wrap .button-group button .list-btn-content:hover .icon-hover {
  display: block;
}

.game-cat-list-wrap .button-group button .list-btn-content:hover span {
  color: white;
}

.game-cat-list-wrap .button-group button.is-checked .list-btn-content {
  background-color: #cf1f29;
  -webkit-box-shadow: 2px 4px 20px 0px #cf1f29;
          box-shadow: 2px 4px 20px 0px #cf1f29;
}

.game-cat-list-wrap .button-group button.is-checked .list-btn-content .icon-holder {
  display: none;
}

.game-cat-list-wrap .button-group button.is-checked .list-btn-content .icon-hover {
  display: block;
}

.game-cat-list-wrap .button-group button.is-checked .list-btn-content span {
  color: white;
}

.game-cat-list-wrap .button-group button:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19%;
}

.game-cat-list-wrap .button-group button:last-child .list-btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.game-list-wrap {
  padding: 40px 0px;
}

.game-list-wrap .game-single {
  border-radius: 15px;
  position: relative;
  float: left;
  padding: 15px;
  width: 33%;
}

.game-list-wrap .game-single .item-image-holder {
  padding-bottom: 70%;
  margin-bottom: 0;
  border-radius: 10px;
}

.sign-up-section .signin-whole-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-up-section .signin-whole-wrap .sign-in-image {
  position: relative;
}

.sign-up-section .signin-whole-wrap .sign-in-image .item-image-holder {
  padding-bottom: 60%;
}

.sign-up-section .signin-whole-wrap .sign-in-image .item-image-holder img {
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.sign-up-section .signin-whole-wrap .sign-in-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, right top, left top, from(#0c122c), to(#0c122cc7));
  background-image: linear-gradient(-90deg, #0c122c, #0c122cc7);
}

.sign-up-section .signin-whole-wrap .signin-wrap {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap {
  width: 100%;
  color: white;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap span {
  color: #f8d361;
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px #f8d361, 0px 14px 10px #00000026, 0px 24px 2px #0000001a, 0px 34px 30px #0000001a;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 20px;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap h1 {
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-size: 55px;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px #00000026, 0px 24px 2px #0000001a, 0px 34px 30px #0000001a;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0px;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap h1 span {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: inherit;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px #00000026, 0px 24px 2px #0000001a, 0px 34px 30px #0000001a;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap p {
  font-size: 18px;
  opacity: 0.8;
  font-family: "Roboto Condensed", sans-serif;
  width: 30%;
  margin: 0 auto 20px;
  line-height: 1.8;
  font-style: italic;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap .cas-btn {
  margin: 0 auto;
  background-color: #5785f5;
  background-image: url(../images/icons/chevron.png);
  background-position: 95% 45%;
  background-repeat: no-repeat;
  border-color: #5785f5;
  background-size: 8%;
  height: 60px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 4;
  font-size: 14px;
  width: 200px;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap .cas-btn:after {
  display: none;
}

.sign-up-section .signin-whole-wrap .signin-wrap .signin-content-wrap .cas-btn:hover {
  background-color: white;
  color: #5785f5;
  background-image: url(../images/icons/chevron-hover.png);
  background-position: 92% 45%;
}

footer {
  background-color: #111835;
}

footer .main-footer .footer-widgets .footer-menu-desc .footer-title h3 {
  color: #bc855e;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

footer .main-footer .footer-widgets .footer-menu-desc ul {
  margin-left: 0;
}

footer .main-footer .footer-widgets .footer-menu-desc ul li {
  line-height: 2;
}

footer .main-footer .footer-widgets .footer-menu-desc ul li a {
  letter-spacing: 1.2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
}

footer .main-footer .footer-widgets .footer-menu-desc ul li a:hover {
  opacity: 0.5;
  color: white;
}

footer .main-footer .footer-widgets .social-icons ul {
  margin-bottom: 15px;
  margin-left: 0;
}

footer .main-footer .footer-widgets .social-icons ul li {
  padding-right: 0;
  display: inline-block;
  margin-right: 10px;
}

footer .main-footer .footer-widgets .social-icons ul li a {
  color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

footer .main-footer .footer-widgets .social-icons ul li a.facebook-icon {
  background-color: #4267B2;
}

footer .main-footer .footer-widgets .social-icons ul li a.twitter-icon {
  background-color: #00acee;
}

footer .main-footer .footer-widgets .social-icons ul li a.youtube-icon {
  background-color: #FF0000;
}

footer .main-footer .footer-widgets .social-icons ul li a.instagram-icon {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

@media screen and (max-width: 767px) {
  footer .main-footer .footer-widgets .social-icons {
    width: 100%;
  }
}

footer .main-footer .footer-widgets .footer-links {
  margin-bottom: 15px;
}

footer .main-footer .footer-widgets .footer-links a {
  background-color: #ffffff73;
  padding: 10px 15px;
  margin: 0px 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
}

footer .main-footer .footer-widgets .footer-links a:hover {
  background-color: #cf1f29;
  color: white;
}

footer .main-footer .footer-widgets .lang-select .lang-select-wrap {
  width: 48%;
  padding: 0px 5px;
  display: inline-block;
  color: white;
}

footer .main-footer .footer-widgets .lang-select .lang-select-wrap p {
  margin-bottom: 0;
}

footer .main-footer .footer-widgets .lang-select .lang-select-wrap p select {
  margin-bottom: 0;
  background-color: #ffffff73;
  height: auto;
  color: white;
}

footer .main-footer .footer-widgets .lang-select .lang-select-wrap p select option {
  color: black;
}

footer .main-footer .footer-widgets .lang-select .lang-select-wrap p .bootstrap-select button.dropdown-toggle {
  background-color: #ffffff9e;
}

footer .main-footer .footer-widgets .lang-select .support {
  color: white;
}

footer .copyright {
  background-color: #0c122c;
  text-align: center;
  padding: 20px 0px;
  color: white;
}

footer .copyright p {
  margin-bottom: 0;
  color: white;
}
/*# sourceMappingURL=main.css.map */